
*.json
*.code-workspace
Basics/Virtual Functions/.DS_Store
Basics/Friends_Functions/.DS_Store
Basics/.DS_Store
.DS_Store
Basics/Examples/20
Basics/Templates/1
Basics/Templates/2
Basics/Templates/3
Basics/Examples/28
